<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="http://assets.sbnation.com/assets/284573/newjazzlogo.png" height="100%" width="12%">
			</a>
		</div>
	</div>
</nav>