<html>
<head>
	<title></title>
	<% include ../partials/head %>
</head>
<body class="container">

	<% include ../partials/header %>

	<h1>Add new players to roster</h1>

	<form class="form-inline">
		<div class="form-group">
			<label for="playerName">Name</label>
			<input type="text" class="form-control" name="name" placeholder="First Last">
		</div>		
		<div class="form-group">
			<label for="playerNumber">Number</label>
			<input type="number" class="form-control" name="number" placeholder="51">
		</div>		
		<div class="form-group">
			<label for="playerPosition">Position</label>
			<input type="text" class="form-control" name="position" placeholder="PG">
		</div>		
		<div class="form-group">
			<label for="playerCollege">College</label>
			<input type="text" class="form-control" name="college" placeholder="Butler">
		</div>		
		<div class="form-group">
			<label for="playerHeadshot">Headshot URL</label>
			<input type="text" class="form-control" name="headshot" placeholder="www.picture.com">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>

</body>
</html>