<html>
<head>
	<title></title>
	<% include ../partials/head %>
</head>
<body class="container">

	<% include ../partials/header %>

	<div class="jumbotron">
		<h1>Utah Jazz</h1>
		<p>All things Jazz!</p>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
	
</body>
</html>