<html>
<head>
	<title></title>
	<% include ../partials/head %>
</head>
<body class="container">

	<% include ../partials/header %>

	<h1>Roster</h1>

	<!-- thumbnails -->
	<div class="row">
		<!-- player loop function -->
		<% for (var i = 0; i < players.length; i++) { %>
		
		<div class="col-xs-6 col-md-3">
			<a class="thumbnail">
				<img src=<%=players[i].headshot %> >
			</a>
		</div>
		<!-- loop close -->
		<% } %>

	</div>


</body>
</html>